In [1]:
import pandas as pd

In [10]:
regioncode = pd.read_csv('https://raw.githubusercontent.com/kodewilayah/permendagri-72-2019/main/dist/base.csv',
header=None)

In [11]:
regioncode.columns = ['code', 'region']
regioncode

                code             region
0                 11               ACEH
1              11.01  KAB. ACEH SELATAN
2           11.01.01           Bakongan
3      11.01.01.2001     Keude Bakongan
4      11.01.01.2002       Ujong Mangki
...              ...                ...
91215       92.71.10        Maladum Mes
91216  92.71.10.1001             Suprau
91217  92.71.10.1002        Tampa Garam
91218  92.71.10.1003              Saoka
91219  92.71.10.1004    Tanjung Kasuari

[91220 rows x 2 columns]

In [29]:
aceh_selatan = regioncode[regioncode['code'] == '11.01']['region'].item()
aceh_selatan

'KAB. ACEH SELATAN'